@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto Flex Variable', sans-serif;
  scroll-behavior: smooth;
}

::selection {
	background: rgba(255, 255, 255, 0.1);
	color: theme('colors.sky.100');
	text-shadow: 0.5px 1px theme('colors.blue.400');
}

input::selection {
	background: rgba(0, 0, 0, 0.5);
	color: theme('colors.sky.100');
	text-shadow: 0.5px 1px theme('colors.blue.400');
}

@layer components {
  .link-blue {
    @apply text-blue-400 hover:text-blue-300;
  }

  .link-light {
    @apply text-blue-300 hover:text-blue-400;
  }
}
