// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styling
body {
	background: theme('colors.primary') url('../images/scales.png');
	font-family: 'Roboto', sans-serif;
}

::selection {
	background: rgba(255, 255, 255, 0.1);
	color: theme('colors.sky.100');
	text-shadow: 0.5px 1px theme('colors.blue.400');
}

input::selection {
	background: rgba(0, 0, 0, 0.5);
	color: theme('colors.sky.100');
	text-shadow: 0.5px 1px theme('colors.blue.400');
}

// Custom styling
// - Custom components
@layer components {
	.card {
		@apply bg-primary border-4 border-dark text-white rounded-xl px-4 py-6 sm:p-8;
	}

	.link-primary {
		@apply text-blue-400 hover:text-blue-500;
	}

	.link-light {
		@apply text-blue-300 hover:text-blue-400;
	}

	.text-light {
		@apply text-blue-200;
	}

	.text-blue {
		@apply text-blue-500;
	}

	.input-primary {
		@apply block rounded-md border-2 border-blue-200 text-primary mt-1 focus:border-blue-100 focus:ring focus:ring-blue-300 focus:ring-opacity-50;
	}
}

.serif {
	font-family: 'Roboto Slab', serif;
}
