---
import Layout from '../layouts/Layout.astro'
import Subheading from '../components/Subheading.astro'
---

<Layout title="about" description="About Adory">
  <p>
    Hey! I'm <b class="text-blue-300">Adory</b>, a software engineer with a B.S.
    in Math &amp; Computer Science from <b class="text-sky-">UC San Diego</b>
    pursuing a career in software engineering and potentially teaching afterwards.
    I'm currently a manufacturing test software engineer at J&J Medtech (surgical
    robotics). This website is a web development project of mine where I'll be showcasing
    some of my work! This website is created from scratch with Astro/React and stylized
    with Tailwind CSS (<a
      class="link-blue"
      href="https://github.com/AdoryVo/adoryvo.com"
      target="_blank">source code</a
    >).
  </p>

  <Subheading>More about me!</Subheading>
  <ul class="list-inside list-disc">
    <li>I play the piano & violin</li>
    <li>I studied Chinese and Korean</li>
    <li>I enjoy teaching computational thinking & software development</li>
    <li>I enjoy studying aesthetics, design, and UI/UX</li>
    <li>
      {''}I ran the 2019 San Diego Half Marathon with a time of 1:37:39 (7:27
      min/mile)
    </li>
    <li>I have an average typing speed of 136 WPM</li>
    <li>
      {''}I love to listen to music! <i
        ><a class="link-blue" href="/music">(more info here)</a></i
      >
      <li>Favorite color: navy blue</li>
      <li>Favorite food: noodles! (ramen, pasta, stir fry, udon, etc.)</li>
      <li>Favorite shows: Game of Thrones, Mr. Robot, Severance</li>
      <li>Favorite anime: Frieren, Golden Kamuy, Jujutsu Kaisen</li>
      <li>
        Favorite books: The Way of Kings, The Name of the Wind, The Sword of
        Kaigen
      </li>
      <li>
        {''}Favorite board games: Codenames, Poetry for Neanderthals,
        Bananagrams
      </li>
      <li>
        {''}Favorite video games: Pokémon, League of Legends,
        PlateUp!/Overcooked 2
      </li>
    </li>
  </ul>
</Layout>
