---
import Layout from '../layouts/Layout.astro'
import Subheading from '../components/Subheading.astro'
---

<Layout title="about" description="About Adory">
  <p>
    Hey! I'm <b class="text-blue-300">Adory</b>, a new grad with a B.S. in Math
    &amp; Computer Science from <b class="text-sky-">UC San Diego</b>
     pursuing a career in software development and potentially teaching
    afterwards. This website is a web development project of mine where I'll be
    showcasing some of my work. This website is created from scratch with Astro
    and stylized with Tailwind CSS (<a
      class="link-blue"
      href="https://github.com/AdoryVo/adoryvo.com"
      target="_blank">source code</a
    >).
  </p>

  <Subheading>More about me!</Subheading>
  <ul class="list-inside list-disc">
    <li>I play the piano & violin and want to learn the drums</li>
    <li>I studied Chinese and Korean in school</li>
    <li>
      {''}I enjoy helping others learn about computational thinking & software
      development (tutored for UCSD CS courses)
    </li>
    <li>
      {''}I enjoy exploring and experimenting with aesthetics, design, and UI/UX
    </li>
    <li>
      {''}I ran the 2019 San Diego Half Marathon with a time of 1:37:39 (7:27
      min/mile)
    </li>
    <li>I have an average typing speed of 136 WPM</li>
    <li>
      {''}I love to listen to music! <i
        ><a class="link-blue" href="/music">(more info here)</a></i
      >
      <li>Favorite color: navy blue</li>
      <li>Favorite food: pasta of any kind!</li>
      <li>Favorite shows: Severance, Mr. Robot, Golden Kamuy</li>
      <li>
        {''}Favorite video games: Pokémon, Tears of the Kingdom, League of
        Legends
      </li>
    </li>
  </ul>
</Layout>
