---
import Layout from '../layouts/Layout.astro'
---

<Layout title="blog" description="Adory's blog posts">
  <p class="mb-4">
    This page is still a work in progress. Built with
    <a
      class="link-blue"
      href="https://docs.astro.build/en/guides/markdown-content/">Astro & MDX</a
    >.
  </p>
</Layout>
