---
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro'
import Subheading from '../components/Subheading.astro'
import Input from '../components/Input.astro'
---

<Layout title="components" description="Site components">
  <Subheading>Subheading</Subheading>
  <Button class="bg-blue-600">Button</Button>
  <Input placeholder="Input" />
</Layout>
