---
import Layout from '../layouts/Layout.astro'
import Subheading from '../components/Subheading.astro'
import meImage from '../assets/me.png'
---

<Layout title="music" description="Adory's favorite music">
  <p class="mb-4">This page is still a work in progress.</p>

  <p class="mb-2">
    I enjoy listening to new music and curating various playlists in my spare
    time! Here are some of my favorite artists and projects.
  </p>

  <Subheading class="mb-2">Favorite Tracks</Subheading>
  <iframe
    src="https://open.spotify.com/embed/playlist/5Mx2GuWlNpbpYRix5VbQxx?utm_source=generator&theme=0"
    width="100%"
    height="360"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
    class="rounded-lg"
  >
  </iframe>

  <Subheading class="mb-2 mt-8">Profiles</Subheading>
  <div class="inline-block rounded-lg bg-dark p-3">
    <img
      src={meImage.src}
      class="mr-2 inline w-14 rounded-full"
      alt="Spotify profile picture"
    />
    <a
      href="https://open.spotify.com/user/exobyterotmg"
      target="_blank"
      class="rounded-full bg-green-500 p-2 px-3 hover:bg-green-600"
    >
      Spotify
    </a>

    <a
      href="https://rateyourmusic.com/~Hyperbo1a"
      target="_blank"
      class="ms-2 rounded-full bg-blue-500 p-2 px-3 hover:bg-blue-600"
    >
      Rate Your Music (Sonemic)</a
    >
  </div>
</Layout>
