---
import Layout from '../layouts/Layout.astro'
import Subheading from '../components/Subheading.astro'
import top100Image from '../assets/top-100.png'
import { ListMusic } from 'lucide-astro'
---

<Layout title="music" description="Adory's favorite music">
  <p class="mb-4">This page is still a work in progress.</p>

  <p class="mb-2">
    I enjoy listening to new music and curating various playlists in my spare
    time! <br />
    Here are some of my favorite artists and projects:
  </p>

  <Subheading class="mt-8">
    Top 100 Favorite Projects as of June 2024
  </Subheading>
  <p>
    In no particular order...
    <br />
    Click picture to zoom in, click off to zoom out.
  </p>
  <img
    src={top100Image.src}
    alt="Favorite music projects collage"
    class="duration-[2000ms] hover:cursor-zoom-in focus:scale-125 md:focus:scale-[1.75]"
    tabindex="0"
  />

  <Subheading class="mb-2 mt-8">Favorite Tracks</Subheading>
  <iframe
    src="https://open.spotify.com/embed/playlist/5Mx2GuWlNpbpYRix5VbQxx?utm_source=generator&theme=0"
    width="100%"
    height="360"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
    class="rounded-lg"
  >
  </iframe>

  <Subheading class="mb-2 mt-8">Profiles</Subheading>
  <div class="flex items-center gap-4 rounded-lg bg-dark p-3 py-5">
    <div>
      <a
        href="https://open.spotify.com/user/exobyterotmg"
        target="_blank"
        class="rounded-full bg-green-500 p-2 px-3 hover:bg-green-600"
      >
        <svg
          class="inline h-4 w-4 fill-white"
          role="img"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><title>Spotify</title><path
            d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"
          ></path></svg
        >
        Spotify
      </a>

      <a
        href="https://rateyourmusic.com/~Hyperbo1a"
        target="_blank"
        class="mt-4 rounded-full bg-blue-500 p-2 px-3 hover:bg-blue-600 md:ms-2 md:mt-0"
      >
        <ListMusic class="inline h-4 w-4 fill-white" />
        Rate Your Music</a
      >
    </div>
  </div>
</Layout>
