<div>
  <p class="mb-2">
    💡 If you have any feedback or improvement ideas, let me know with this form <a
      href="https://forms.gle/VCGuD74bgi3nekvw6"
      class="link-light"
      target="_blank">here</a
    >!
  </p>
  <script
    is:inline
    type="text/javascript"
    src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
  <script is:inline type="text/javascript">
    kofiwidget2.init('Support me on Ko-fi', '#72a4f2', 'X8X31NFVB9')
    kofiwidget2.draw()
  </script>
</div>
