---
import Layout from '../../layouts/Layout.astro'
import AnagramFinderContent from '../../components/react/projects/AnagramFinder'
---

<Layout
  title="anagram finder"
  description="A tool to find all anagrams & sub-anagrams from a specified letter pool!"
>
  <b class="text-green-400">Completed: September 2022</b>
  <p class="my-4">
    A tool to find all anagrams & sub-anagrams from a specified letter pool!
    <br />
    To filter anagrams by a specific letter sequence, you may specify a template.
    Underscores will match any letter.
    <br />
    - Inspired by Wordscapes, developed with <a href="https://github.com/huom7473" class="link-light" target="_blank">Michael Huo</a>
  </p>

  <AnagramFinderContent client:load />
</Layout>
