---
import Layout from '../../layouts/Layout.astro'
import type { Project } from '../../components/ProjectListItems.astro'
import ProjectListItems from '../../components/ProjectListItems.astro'

const PROJECTS: Project[] = [
  {
    title: 'Graphic Designer Portfolio',
    path: 'https://adorsey-portfolio.vercel.app',
    completedAt: 'October 2019',
  },
  {
    title: 'Influencer Company Website',
    path: 'https://ryanheo15.github.io/idigic_responsive/html/',
    completedAt: 'October 2019',
  },
  {
    title: '3056Brunswick (Australia)',
    path: 'https://3056brunswick.vercel.app',
    completedAt: 'November 2019',
  },
  {
    title: 'Aquarium Company Website',
    path: 'https://aquarium-av.vercel.app/html/',
    completedAt: 'November 2019',
  },
  {
    title: 'Know Ya Boo Game',
    path: 'https://ryanheo15.github.io/knowyaboo',
    completedAt: 'August 2020',
  },
  {
    title: 'CloudPizza Dallas',
    path: 'https://cloudpizzadallas.vercel.app',
    completedAt: 'October 2020',
  },
  {
    title: 'Valtourneys',
    path: 'https://alectrify.github.io/portfolio/valtourneys/',
    completedAt: 'October 2020',
  },
  {
    title: 'Revenite Debt Accountability Program',
    path: 'https://debt.revenite.rocks/',
    completedAt: 'November 2021',
  },
]
---

<Layout
  title="freelancing"
  description="Projects completed for freelance clients on Fiverr & Upwork."
>
  <b class="text-green-400">Completed: June 2019 - February 2022</b>
  <p class="my-4">
    Projects completed for freelance clients on Fiverr & Upwork.
    <br />
    <i>- Done in partnership with Ryan Heo</i>
  </p>

  <ul class="list-inside list-disc">
    <ProjectListItems projects={PROJECTS} />
  </ul>
</Layout>
